{% extends 'base.html' %}
{% load static %}

{% block catalogo %}
    <!-- contacto -->
    <section class="section">
        <h1 class="section-title">Contacto</h1>
        <div class="content-card">
            <p>¡Bienvenidos a Strawberry Daki! Somos un emprendimiento apasionado por los detalles que marcan la diferencia.</p>
            <p>Nuestro objetivo es ofrecerte una selección única de accesorios y productos pensados para complementar tu estilo y día a día.</p>
            <p>Nos encanta la practicidad, por eso diseñamos este catálogo virtual para que puedas explorar nuestros productos desde la comodidad de tu teléfono.</p>
            <p>Creemos en el trato personalizado, por eso cada pedido se gestiona directamente con nosotros.</p>
        </div>
    </section>

    <!-- entregas -->
    <section class="section">
        <h2 class="section-title">Ubicación y entregas</h2>
        <div class="content-card">
            <p>Estamos ubicados en el corazón de San José. Si estás cerca, realizamos entregas personales en el centro.</p>
            <p>¿Vives lejos? No te preocupes, hacemos llegar tus favoritos a cualquier rincón de Costa Rica a través de Correos de Costa Rica.</p>
            <p>Gracias por apoyar nuestro negocio y elegirnos.</p>
        </div>
    </section>
    {% endblock %}